.flippable-card-container {
  /* === Sizing === */
  height: 500px;
  width: 300px;
  perspective: 1000px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-left: 40%; */
}
.App1 {
  /* === Sizing === */
  /* width: 100vw;
  height: 100vh; */

  /* === Content Alignment === */
  display: flex;
  justify-content: center;
  align-items: center;
}
